PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/buildmart?retryWrites=true&w=majority
JWT_SECRET=change-this-to-a-long-random-secret
ADMIN_SETUP_KEY=change-this-setup-key
CLIENT_URL=http://localhost:3000
